/* This css is used to gave the stylesheet to the index.html file  */

:root{
    --color-1:rgb(0, 204, 255);
    --color-2:white;
}
span{
    color:var( --color-2);
}
.row{
    height: 100vh;
}
.col-sm.l
{
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2em;
}
.col-sm.r
{
    margin: 0;
    padding: 0;
    background-color: var( --color-2);
    justify-content: center;
    align-items: center;
    display: flex;
  
}
 .button1 {
    background:none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    visibility: hidden;
  }
  .button
  {
    background:none;
    border: none;

  }
  #city
  {
      border-radius: 3px;
      width: 280px;
      border-color: var(--color-1);
  }
 
  #state
  {
      font-size: 26px;
      font-weight: bold;  
  } 
  #time
  {
      padding-top:0;
      font-size: 18px;
  } 
  #condition
  {
      padding-top:2;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 0;
      display: contents;
      
  } 
  #temp
  {
      padding-top: 0;
      font-size: 28px;
      font-weight: bold;
  } 

  h2
  {
    display: inline;
  }
  .DisplyInline
  {
      display: inline;
  }
  #icon
  {
      color: black;
  }

  